html, body {
    height: 100%;             
    margin: 2px;                
}

body {
    display: flex;             
    flex-direction: column;    
}

main {
    flex: 1;   
    display: flex;
    flex-direction: column;
    align-items: center;                
}
/* ===================================================== */
/* Barra de navegación superior */
/* ===================================================== */
.top-nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}


/* ===================================================== */
/* Contenedor del saludo y el logo */
/* ===================================================== */
.contenedor_saludo_y_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Saludo */
.saludo_a_usuario {
    font-size: 20px;
    color: #333;
}

/* Logo */
.logo {
    width: 120px;
    height: 120px;
}


/* ===================================================== */
/*  MAIN */
/* ===================================================== */

/* Contenedor principal (imagen + formulario) */
.contenedor_principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

/* Imagen de la sección registro */
.contenedor_imagen_iniciar_sesion {
    height: 560px;
    display: flex;
    justify-content: center;
}


/* ===================================================== */
/*  FORMULARIO DE INICIO DE SESION */
/* ===================================================== */
.contenedor_formulario_iniciar_sesion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_iniciar_sesion{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #f5f7f9;
    height: 300px;
    width: 350px;
    gap: 50px;
    border-radius: 5px;
}


/* ===================================================== */
/*   INICIAR SESION  -  BOTONES REGISTRO / */
/* ===================================================== */

.contenedor_botones_registro {
    display: flex;
    gap: 140px;
    padding-bottom: 10px;
    cursor: pointer;
}

.boton_registro {
    border-radius: 5px;
    height: 30px;
    width: 120px;
    background-color: rgb(158, 193, 154);
    color:  rgb(0, 0, 0);
}

.boton_iniciar_sesion {
    border-radius: 5px;
    height: 30px;
    width: 120px;
    background-color: rgb(196, 190, 179);
    color: black;
}


button{
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.1s;
}
button:hover {
    opacity: 0.9;
}

button:active {
    transform: scale(0.98);
}


/* ===================================================== */
/*  FORMULARIO */
/* ===================================================== */

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}


/* Inputs del formulario */
input{
    padding:5px;
    border-radius:4px;
    border:1px solid #ccc;
}


/* Campos individuales */
.campo_formulario{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}


/* ===================================================== */
/*  BOTON INICIAR SESION */
/* ===================================================== */

.contenedor_boton_iniciar_sesion{
    display: flex;
    justify-content: center;
}

/* ===================================================== */
/*  FOOTER */
/* ===================================================== */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-top: 70px;
}



